<body>
  <center>
    <div>
      Hello, <%= @name %>!
    </div>
    <div>
       Your birthday is: <%= @birth_day %> of <%= @birth_month %>, <%= @birth_year %>
    </div>
    <div>
       There are <%= @remaining %> days left until your birthday!
    </div>
  </center>
</body>
